<launch>
  <arg name="use_external_renderer" default="0" />
  <arg name="ignore_collisions" default="true" />
  <arg name="render_stereo" default="0" />
  <arg name="use_ir_markers" default="false" />

  <!--include core flightgoggles launch file-->
  <include file="$(find flightgoggles)/launch/core.launch">
    <arg name="use_external_renderer" value="$(arg use_external_renderer)"/>
    <arg name="render_stereo" value="$(arg render_stereo)"/>
    <arg name="ignore_collisions" value="$(arg ignore_collisions)"/>
  </include>

  <node pkg="simcontrol" name="publish_state" type="state_estimation.py" output="screen" />
  <node pkg="simcontrol" name="control_node" type="control.py" output="screen" />
  <param name="/use_ir_markers" value="$(arg use_ir_markers)" />
  
  <rosparam command="load" file="$(find simcontrol)/config/basic.yaml"/>

</launch>
